.acceptance-create-page[data-v-fc97b047] {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.acceptance-create-page .form-container[data-v-fc97b047] {
	flex: 1;
	overflow-y: auto;
}
